* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.main{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%,-50%);
  flex-wrap: wrap;
}
/* stopwatch  */
.container {
  margin: 10px auto;
  background-color: #def;
  padding: 1rem;
  border-radius: 5px;
  width: 365px;  
}
.stopwatch{
  padding: 50px 0;
}
h1,
p {
  text-align: center;
  margin: 0;
  padding: 0.4rem;
}
h1 {
  color: #000;
  letter-spacing: 1px;
}
span {
  font-size: 1rem;
  margin: 0 2.5px;
}
p {
  color: #043d5a;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: 0px 0px 10px 0px rgb(215, 203, 203);
  font-size: 2em;
  font-weight: 650;
  letter-spacing: 1.3px;
  margin: 1.8rem auto; 
  width: 98%;
}
/* buttons */
.btns-div {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}
.btn {
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  width: 25%;
  padding: 0.6rem 0;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
#btn-start,#start {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
}
#btn-start:hover {
  background-color: #207438;
}
#btn-stop {
  background-color: #e74646;
}
#btn-stop:hover {
  background-color: #cc2020;
}
#btn-reset {
  background-color: #569daa;
}
#btn-reset:hover {
  background-color: #197181;
}
.btn:hover {
  cursor: pointer;
}

.get-time{
  display: flex;
  padding: 10px 0;
  justify-content: space-around;
  /* margin-top: 20px; */
}
input[type="number"]{
  width: 23%;
  border: 2px solid #ababab;
  padding: 0 8px;
  border-radius: 10px;
}
h3{
  margin: 10px 0;
  text-align: center;
}